body {
    margin: 0;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #9c9aff, #9261e0, #7c42da, #9261e0, #9c9aff);
    padding: 14px 20px;
    animation: colorchange 190s linear 2s infinite alternate;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    margin: 0 10px;
    font-size: 18px;
    color: #b6a3fc;
    transition: color 1.3s ease;
}

.navbar-links a:hover {
    color: #b34ff5;
}

.navbar-links a.active {
    color: #bc86cc;
}

 /* Default height for small devices */
 #intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }

  .gradient-background {
    background: linear-gradient(317deg,#9261e0,#7c42da,#9261e0,#6833ff);
    background-size: 240% 240%;
    animation: gradient-animation 16s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .box {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
  }
  
  .box::after {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
  }
  
  .box:hover {
    transform: scale(1, 1.07);
  }
  
  .box:hover::after {
    opacity: 1;
  }

/* end of navbar */